@model CRM_system.Controllers.StatisticViewModel

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<script>
    var a = 0;
    function ChangeTheme() {
        var buttonTheme = document.getElementById('buttonTheme');
        var content = document.getElementById('content');
        var header = document.getElementById('header');
        var body = document.getElementById('body1');
        var sidebar = document.getElementById('sidebar');
        var h2Elements = document.querySelectorAll('h2');
        var h1Elements = document.querySelectorAll('h1');
        var aElements = document.querySelectorAll('a');
        var customButtons = document.querySelectorAll('.custom-button');
        if (a == 0) {
            buttonTheme.textContent = "☀";
            buttonTheme.style.backgroundColor = "whitesmoke";
            buttonTheme.style.borderColor = "whitesmoke";
            buttonTheme.style.color = "rgb(41, 41, 41)";
            content.style.backgroundColor = "rgb(53, 53, 53)";
            header.style.backgroundColor = "rgb(45, 45, 45)";
            body.style.color = "whitesmoke";
            sidebar.style.backgroundColor = "rgb(40, 40, 40)";
            h2Elements.forEach(function (h2) {
                h2.style.color = "whitesmoke";
            });
            h1Elements.forEach(function (h1) {
                h1.style.color = "whitesmoke";
            });
            aElements.forEach(function (a) {
                a.style.color = "whitesmoke";
            });
            customButtons.forEach(function (a) {
                a.style.color = "whitesmoke";
            });
            a = 1;
        }
        else {
            buttonTheme.textContent = "☾";
            buttonTheme.style.backgroundColor = "rgb(41, 41, 41)";
            buttonTheme.style.borderColor = "rgb(41, 41, 41)";
            buttonTheme.style.color = "whitesmoke";
            content.style.backgroundColor = "#d3d3d3";
            header.style.backgroundColor = "rgb(179, 179, 179)";
            body.style.color = "rgb(41, 41, 41)";
            sidebar.style.backgroundColor = "rgb(157, 157, 157)";
            h2Elements.forEach(function (h2) {
                h2.style.color = "rgb(41, 41, 41)";
            });
            h1Elements.forEach(function (h1) {
                h1.style.color = "rgb(41, 41, 41)";
            });
            aElements.forEach(function (a) {
                a.style.color = "rgb(41, 41, 41)";
            });
            customButtons.forEach(function (a) {
                a.style.color = "rgb(41, 41, 41)";
            });
            a = 0;
        }
    }
</script>
<body id="body1">
    <div id="header" class="header">
        <h1>CRM System</h1>
        <div class="user-info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5mnbYhPE32Wn7s6ArPXGesdArvPMGW8D60sMqE8CYLg&s" alt="User Icon">
            <span class="user-name">@Model.Name</span>
            <button class="custom-button" style="width: 140px">Messages</button>
            <button class="custom-button" style="width: 100px">Log Out</button>
        </div>
    </div>
    <div class="main">
        <div id="sidebar" class="sidebar">
            <a href="#">First</a>
            <a href="#">Second</a>
            <a href="#">Third</a>
            <a href="#">Fourth</a>
            <a href="#">Fifth</a>
            <a href="#">Sixth</a>
            <a href="#">Seventh</a>
        </div>
        <div id="content" class="content1">
            <div id="rectangle1" class="rectangle">
                <p class="custom-title">Statistics 1</p>
                <p>This is the first statistics.</p>
            </div>
            <div id="rectangle2" class="rectangle">
                <p class="custom-title">Statistics 2</p>
                <p>This is the second statistics.</p>
            </div>
            <div id="rectangle3" class="rectangle">
                <p class="custom-title">Statistics 3</p>
                <p>This is the third statistics.</p>
            </div>
            <div id="rectangle4" class="rectangle">
                <p class="custom-title">Statistics 4</p>
                <p>This is the fourth statistics.</p>
            </div>
        </div>
    </div>
    <button id="buttonTheme" class="buttonTheme" onclick="ChangeTheme()">☾</button>
</body>