
@model List<CRM_system.Models.EntityDataModels.CrmSysModel.Entities.Deal>
@foreach (var deal in Model)
{
    @deal.Date
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<script>
    var a = 0;
    function ChangeTheme() {
        var buttonTheme = document.getElementById('buttonTheme');
        var content = document.getElementById('content');
        var header = document.getElementById('header');
        var body = document.getElementById('body1');
        var sidebar = document.getElementById('sidebar');
        var h2Elements = document.querySelectorAll('h2');
        var h1Elements = document.querySelectorAll('h1');
        var aElements = document.querySelectorAll('.sidebar_button');
        var customButtons = document.querySelectorAll('.custom-button');
        var messagemodal = document.getElementById('messages-modal');
        var messagemodalcontent = document.getElementById('modal-content-messages');
        if (a == 0) {
            buttonTheme.textContent = "☀";
            buttonTheme.style.backgroundColor = "whitesmoke";
            buttonTheme.style.borderColor = "whitesmoke";
            buttonTheme.style.color = "rgb(41, 41, 41)";
            content.style.backgroundColor = "rgb(53, 53, 53)";
            header.style.backgroundColor = "rgb(45, 45, 45)";
            body.style.color = "whitesmoke";
            sidebar.style.backgroundColor = "rgb(40, 40, 40)";
            messagemodal.style.backgroundColor = "rgb(49, 49, 49)";
            messagemodalcontent.style.backgroundColor = "rgb(49, 49, 49)";
            messagemodal.style.backgroundColor = "rgb(49, 49, 49)";
            messagemodalcontent.style.backgroundColor = "rgb(49, 49, 49)";

            h2Elements.forEach(function (h2) {
                h2.style.color = "whitesmoke";
            });
            h1Elements.forEach(function (h1) {
                h1.style.color = "whitesmoke";
            });
            aElements.forEach(function (button) {
                button.style.color = "whitesmoke";
                button.style.backgroundColor = "rgb(40, 40, 40)";
                button.addEventListener('mouseover', function () {
                    button.style.backgroundColor = '#666';
                });
                button.addEventListener('mouseout', function () {
                    button.style.backgroundColor = 'rgb(40, 40, 40)';
                });
            });
            customButtons.forEach(function (a) {
                a.style.color = "whitesmoke";
            });
            a = 1;
        }
        else {
            buttonTheme.textContent = "☾";
            buttonTheme.style.backgroundColor = "rgb(41, 41, 41)";
            buttonTheme.style.borderColor = "rgb(41, 41, 41)";
            buttonTheme.style.color = "whitesmoke";
            content.style.backgroundColor = "#d3d3d3";
            header.style.backgroundColor = "rgb(179, 179, 179)";
            body.style.color = "rgb(41, 41, 41)";
            sidebar.style.backgroundColor = "rgb(157, 157, 157)";
            messagemodal.style.backgroundColor = "#eeeeee";
            messagemodalcontent.style.backgroundColor = "#eeeeee";
            h2Elements.forEach(function (h2) {
                h2.style.color = "rgb(41, 41, 41)";
            });
            h1Elements.forEach(function (h1) {
                h1.style.color = "rgb(41, 41, 41)";
            });
            aElements.forEach(function (button) {
                button.style.color = "rgb(41, 41, 41)";
                button.style.backgroundColor = "rgb(157, 157, 157)";
                button.addEventListener('mouseover', function () {
                    button.style.backgroundColor = '#666';
                });
                button.addEventListener('mouseout', function () {
                    button.style.backgroundColor = 'rgb(157, 157, 157)';
                });
            });
            customButtons.forEach(function (a) {
                a.style.color = "rgb(41, 41, 41)";
            });
            a = 0;
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        var modalMessages = document.getElementById("messages-modal");
        var btnMessages = document.querySelector(".custom-button");
        var spanMessages = document.getElementsByClassName("close-messages")[0];
        btnMessages.onclick = function () {
            modalMessages.style.display = "block";
        }

        spanMessages.onclick = function () {
            modalMessages.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modalMessages) {
                modalMessages.style.display = "none";
            }
        }
    });
    function logOut() {
        window.location.href = '@Url.Action("Index", "Home")';
    }
</script>
<body id="body1">
    <div id="header" class="header">
        <h1>CRM System</h1>
        <div class="user-info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5mnbYhPE32Wn7s6ArPXGesdArvPMGW8D60sMqE8CYLg&s" alt="User Icon">
            <span class="user-name">@Model.Name</span>
            <button class="custom-button" style="width: 140px">Messages</button>
            <button class="custom-button" style="width: 100px" onclick="logOut()">Log Out</button>
        </div>
    </div>
    <div class="main">
        @if (Model.Role == "Director")
        {
            <form asp-action="DIR" method="post" class="sidebar" id="sidebar">
                <div class="sidebar">
                    <button class="sidebar_button" type="submit" name="action" value="Managers">Managers</button>
                    <button class="sidebar_button" type="submit" name="action" value="Deals">Deals</button>
                </div>
            </form>
        }
        else if (Model.Role == "Manager")
        {
            <form asp-action="MAN" method="post" class="sidebar" id="sidebar">
                <div class="sidebar">
                    <button class="sidebar_button" type="submit" name="action" value="ActiveDeals">Active Deals</button>
                </div>
            </form>
        }
        <div id="content" class="content1">
            <div id="rectangle1" class="rectangle">
                <p class="custom-title">Statistics 1</p>
                <p>This is the first statistics.</p>
            </div>
            <div id="rectangle2" class="rectangle">
                <p class="custom-title">Statistics 2</p>
                <p>This is the second statistics.</p>
            </div>
            <div id="rectangle3" class="rectangle">
                <p class="custom-title">Statistics 3</p>
                <p>This is the third statistics.</p>
            </div>
            <div id="rectangle4" class="rectangle">
                <p class="custom-title">Statistics 4</p>
                <p>This is the fourth statistics.</p>
            </div>
        </div>
    </div>
    <button id="buttonTheme" class="buttonTheme" onclick="ChangeTheme()">☾</button>
</body>
<div id="messages-modal" class="messages-modal">
    <div id="modal-content-messages" class="modal-content-messages">
        <span class="close-messages">&times;</span>
        <div class="table-container-messages">
            <table>
                <tbody>
                    <tr>
                        <h1 class="dealname">Client1</h1>
                        Message1
                        <hr>
                    </tr>
                    <tr>
                        <h1 class="dealname">Client2</h1>
                        Message2
                        <hr>
                    </tr>
                    <tr>
                        <h1 class="dealname">Client3</h1>
                        Message3
                        <hr>
                    </tr>
                    <tr>
                        <h1 class="dealname">Client4</h1>
                        Message4
                        <hr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>